.my_textarea{
    resize: none;
  }
  
  .popular_bg{
    background: url(../images/popular_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
  }
  /*owl carousel*/
  #owl-demo .item{
    margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  }
  /*owl carousel*/
  
  .my_panel_body_padding_bottom{
    padding-bottom: 0px;
  }
  
  .my_margin_bottom{
    margin-bottom: 0px;
  }
  
  .my_logo_navbar{
    padding: 2px;
  }
  
  .nav_search_margin_width{
    margin-left: 25%;
    width: 450px;
  }
  
  .my_img_responsive{
    width: 100%;
    height: 100%;
  }
  
  .my_add_image{
    height: 390px !important;
  
  }
  .my_panel_margin{
    margin-bottom: 4px;
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .nav_search_margin_width {
        margin-left: 20%;
        width: 350px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .nav_search_margin_width {
        margin-left: 5%;
        width: 280px;
    }
  }
  @media screen and (max-width: 767px) {
    .nav_search_margin_width {
        margin: 0 auto;
        width:80%;
    }
  }
  
  
  .header_top_height{ height: 30px;}
  .header_bottom_height{ height: 200px;}
  .menu_height{ height: 50px; }
  .content_height{ height: 1000px; }
  .big_footer_height{ height: 250px; }
  .footer_height{ height: 30px; }
  
  .navbar{
      background-color: #2899d1;
      color: white;
  }
  .nav a{
    color: white;
  }

  .nav a:hover{
    color: #2899d1;
  }

  .header{
    display: flex;
  }

  .header .topsearch{
    flex: 2;
    margin-top: 15px;
  }
  
  .product-main{
    border: 1px solid lightgray;
  }

  .subCategory ul li a{
    border-top: 1px solid lightgray;
  }
  .product-grid {
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  .navbar{
    border-radius: 0px;

  }