

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
font-size:62.5%; 
}/* 10px */ 

body {
	font-family: 'Roboto', sans-serif;
	font-size:100%;
	width:100%;
  height: 100%;
   
   
}
*{ margin:0;
    padding:0;
}
*{ -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -o-box-sizing:border-box;
   -ms-box-sizing:border-box;
   box-sizing:border-box;
}
.container{
  width: 1160px;
  margin:0 auto;
  }
.center{
	text-align:center;
}


h2{
    color:#566366;
    font-size: 2.0rem;
    font-weight:700; 

}
p{
    color:#919191 ;
    font-size: 1.6rem;
    font-weight:400;
}

.row{
	margin-left:-15px;
  margin-right:-15px;
 
	 }
.area-padding{
    padding-top: 30px;
    padding-bottom:30px;
   
}

/*vehicle-area-start*/
#vehicles {
    width: 100%;
    height: 100%;
    background: #fff;
    margin-top: 20px;
}
.border{
  color: #E6E6E6;
 
}
.vehicles-area{
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border-top: 5px solid #EF4923;
}
.col-md-2{
  width: 16.666%;
  height: 100%;
  float: left;
}
.prodact-list-area {
    float: left;
    width: 100%;
    height: 555px;
}
.prodact-img{}
.prodact-img img {
    width: 60px;
    height: 40px;
    float: left;
    margin-right: 10px;
}
.prodact-img h2 {
    color: #EF4923;
    font-size: 1.5rem;
    float: right;
    margin-top: 18px;
    width: 59px;
    height: 22px;
}
.prodact-list {
    margin-top: 82px;
}
.prodact-list ul {
    margin: 0;
    padding: 0;
}
.prodact-list ul li {
    list-style: none;
    border-top: 2px solid;
    padding: 5px;
    width: 129px;
    height: 40px;
    margin: 0 auto;
}
.prodact-list ul li a {
    color: #91918F;
    text-decoration: none;
    font-size: 1.5rem;
}
.prodact-list ul li:hover{
    background-color: #EF4923;
    transition: 1s;
  
}
.prodact-list ul li:hover a{
  color:#fff;
}
.col-md-7 {
    width: 58.333%;
    height: 100%;
    display: inline-block;
    float: left;
}
.prodact {
    width: 33.333%;
    float: left;
    height: 290px;
    padding: 2px;
    border: 2px solid;
}
.prodact a img {
    width: 150px;
    height: 135px;
    
}

.reting img {
    width: 60%;
    height: 60%;
    margin-top: 15px;
}
.prodact h4 a {
    color: #808080;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
    text-decoration: none;
}

.prodact span{color:#EF4923; font-size: 1.3rem;}
.prodact span del{color:#000; padding: 5px;}
.prodact:hover.prodact h4 a{
  color:#EF4923;
  transition:1s;
}
.col-md-3{
  width: 24.999%;
  height: 100%;
}
.adverts-img {
    margin-left: -30px;
}
.adverts-img img {
    width: 256px;
    height: 580px;
}

/* end vehicle area*/

/*start banner-area*/

.banner-area{
	 position: relative;
   background-color: #FFFFFF;
   margin: 0 auto;
}
.banner-img{
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
}

.banner-img img{
	max-height: 100%;
	max-width: 100%;
	transition: all 1s ease-in;
}
.banner-area:hover img{
  transform: scale(1.08);
  transition: all 1s ease-in;
}

.overly{
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    opacity: 0;
    transition: all 1s ease-in;
    top: 0;
    transform:scaleX(0);
}

.banner-area:hover .overly{
  opacity: 0.5;
  transform:scaleX(1);

}
/*end banner-area*/

/*start footer-area*/
#footer-area{
  background-color: #F1F1F1;

}
.col-md-3 {
    float: left;
    width: 100%;
    height: 100%;
   
}

.single-colam{

}
.single-colam h2{
    color: #434343;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.35;
}
.single-colam ul{
  margin: 0px;
  padding: 0px;
}
.single-colam ul li{
  list-style-type: none;
}
.single-colam ul li a{
  font-size: 1.5rem;
  color: #434343;
  line-height: 3rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}
.single-colam ul li a:hover{
  color: #016FD0;
}
.single-colam ul li a img {
    width: 45px;
    height: 38px;
    float: left;
    margin: 2px;
}
.address h3{
  font-size: 1.5rem;
  color: #434343;
  line-height: 3rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;

}
.address h3:before{
  font-family: "Font Awesome 5 Free";
  content: "\f3c5";
  font-size: 1.5rem;
  font-weight: 900; 
  padding: 5px;

}
.address h4{
  font-size: 1.5rem;
  color: #434343;
  line-height: 3rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}
.address h5{
  font-size: 1.5rem;
  color: #434343;
  line-height: 3rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}
.address h6{
  font-size: 1.5rem;
  color: #434343;
  line-height: 3rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}
.address h6:before{
  font-family: "Font Awesome 5 Free";
  content: "\f2a0";
  font-size: 1.5rem;
  font-weight: 900; 
  padding: 5px;

}
.address p{
  font-size: 1.5rem;
  color: #434343;
  line-height: 3rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}
.address p:before{
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
  font-size: 1.5rem;
  font-weight: 900; 
  padding: 5px;

}
.address span{
  
}
.address span img{
  width: 100%;
  height: 100%;
}
/*edn footer-area*/

#footer-contact{
  background-color: #F1F1F1;
}
.contct-area {
    width: 100%;
    height: 140px;
    border-top: 1px solid #b1a7a7;
    padding-top: 40px;
}
.col-md-4{
  float: left;
}
.single-contact{}
.single-contact h1 {
    font-size: 2rem;
    color: #434343;
}
.single-contact h5 {
    font-size: 2rem;
    color: #434343;
    width: 125px;
    display: inline-block;
}
.single-contact input {
    width: 230px;
    height: 42px;
    font-size: 1.5rem;
    padding: 2px;
}
.single-contact button {
    width: 60px;
    height: 42px;
    margin-left: -4px;
    font-size: 1.3rem;
    background: #fff;
}
.single-contact button:hover{
  background-color: #0f88de;
  color: #fff;
}
.single-contact a {
    font-size: 2rem;
    padding: 8px;
    color: #3d3f42;
    background-color: #fff;
    border-radius: 50%;
}
#copyright-area {
    background-color: #312f2f;
    height: 86px;
    width: 100%;
}
.copyright {
    margin-top: 30px;
    margin-left: 70px;
    color: #fff;
}
.copyright span{}

